@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove increment and decrement buttons in Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
}

/* Remove increment and decrement buttons in Firefox */
input[type="number"] {
      -moz-appearance: textfield;
}